.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    list-style: none;
  }
  
  .sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .ul {
    list-style-type: none;
  }

  .hrsolid {
    border-top: 3px solid #bbb;
    position: relative;
  }
